body{
  text-align: center;
  color: brown;
  background-color: rgb(250, 241, 230);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons_div{
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 20px;
}
.buttons_div>button{
  width: 50px;
  height: 30px;
  border: 2px solid rgba(165, 42, 42, 0.856);
  color: rgba(165, 42, 42, 0.856);
  background-color: white;
  border-radius: 3px;
}

.buttons_div>button:hover{
  background-color: rgba(165, 42, 42, 0.856);
  color: white;
 
}